<%- include('partials/header') -%>


<div class="bg-white pb-6 sm:pb-8 lg:pb-12">
  <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">

    <section class="flex flex-col items-center">
      <!-- notice - start -->
      <!-- <div class="flex items-center bg-gray-50 text-gray-500 border rounded gap-1 p-2">
       

        <span class="text-xs">Welcome back,</span>

        <span class="bg-gray-100 text-teal-800 text-xs font-semibold leading-none rounded-full px-2 py-1 mt-0.5">Username</span>

      </div> -->
      <!-- notice - end -->

      <div class="max-w-xl flex flex-col items-center text-center pt-8 lg:pt-32 pb-0 sm:pb-16 lg:pb-32">
        <p class="text-teal-600 md:text-lg xl:text-xl font-semibold mb-4 md:mb-6">Lorem ipsum dolor sit amet consectetur</p>

        <h1 class="text-black-800 text-4xl sm:text-5xl md:text-6xl font-bold mb-8 md:mb-12">Let's Get Your Lab In Check</h1>

        <p class="text-gray-500 xl:text-lg leading-relaxed mb-8 md:mb-12">This is a section of some simple filler text, also known as placeholder text. It shares characteristics of real text.</p>

        <div class="w-full flex flex-col sm:flex-row sm:justify-center gap-2.5">
          

          <a href="/item/newItem" class="inline-block bg-white hover:bg-gray-100 active:bg-gray-200 focus-visible:ring ring-teal-300 border text-gray-500 text-sm md:text-base font-semibold text-center rounded-lg outline-none transition duration-100 px-8 py-3">Create New Inventory Item</a>

          <a href="/inventory" class="inline-block bg-white hover:bg-gray-100 active:bg-gray-200 focus-visible:ring ring-teal-300 border text-gray-500 text-sm md:text-base font-semibold text-center rounded-lg outline-none transition duration-100 px-8 py-3">View All Inventory</a>

          <!-- <a href="/inventory" class="inline-block bg-teal-600 hover:bg-teal-600 active:bg-teal-700 focus-visible:ring ring-teal-300 text-white text-sm md:text-base font-semibold text-center rounded-lg outline-none transition duration-100 px-8 py-3">View All Inventory</a> -->

          <a href="/restocks" class="inline-block bg-white hover:bg-gray-100 active:bg-gray-200 focus-visible:ring ring-teal-300 border text-gray-500 text-sm md:text-base font-semibold text-center rounded-lg outline-none transition duration-100 px-8 py-3">View Restock Items</a>
        </div>
      </div>
    </section>
  </div>
</div>


<%- include('partials/footer') -%>