<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">

    <title>LumiLab</title>
    
</head>
<body>
    <header>
    <nav>
        <ul><a href="">Home</a></ul>
        <ul><a href="">Inventory</a></ul>
        <ul><a href="">Restock</a></ul>
    </nav>
        <h1>LumiLab</h1>
        <section id="signin-buttons">
            <a href="/todos"><button>Log In</button></a>
            <a href="/todos"><button>Sign Up</button></a>
        </section>
    </header>

    <main>
        <section id="about">
            <img src="https://placehold.co/500" alt="Lab inventory">
            <section>
                <h2>Brighter Than Your Average <br>Lab Management System</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora, fuga dolores, quia reprehenderit rem assumenda repudiandae nisi vel ratione voluptas atque dolorum ipsa dolor. In porro asperiores veritatis dolore eveniet.</p>
                
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate pariatur quisquam fuga error incidunt ipsum dolorum, impedit repellat laudantium officia delectus veniam eum! Aut quis fugiat expedita laboriosam tempore magni!.</p>
            </section>
        </section>
    </main>

    <footer>
        <ul><a href="">Github</a></ul>
        <ul><a href="">Portfolio</a></ul>
        <ul><a href="">LinkedIn</a></ul>
    </footer>
    
</body>
</html>